/* prevent 'bounce' in scrolling */
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
    color: #888888;
    background-color: #060606;
}

.head {
    width: 100%;
    height: 30px;
    color: #ffffff;
    background-color: #888;
    line-height: 30px;
}

.hidden {
    display: none;
}

.modal-content {
    background-color: #202020;
}

.btn-default {
  color: #ffffff;
  background-color: #424242;
  border-color: #424242;
}

/* images are displayed in viewports */
.viewport {
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position:absolute
}

.overlay {
    position: absolute;
    color: #e4ad00;
}

.imageViewer {
  /* width: 100% !important; */
}

.myNav {
    margin: 0;
    border:0;
}

.viewportWrapper {
    box-sizing: border-box;
    border: 2px solid #777;
}

.viewportWrapper.selected {
  border-color: #0c98ff;
}

.renderTime {}
.fps {}

.csthumbnail {
    color: white;
    background-color:black;
    width:100px;
    height:100px;
    border: 0px;
    padding: 0px;
}

.viewer {
    /*position: absolute;left: 110px;width: 100%;*/
    /* float: left; */
    position: absolute;
    left: 106px;
    top: 0;
    box-sizing: border-box;
}

.viewer1 {
  left: 0;
  width: 100%;  
}

.viewer1 .imageViewer{
  width: 100% !important;
}

.thumbnailSelector {
    width: 106px;
    /* float:left; */
    position: absolute;
    left: 0;    
    margin-left:0px;
    height: 100%;
}

.thumbnailSelector1 {
  width: 100%;
  height: 139px;
  left: 0;
  bottom: 0;  
}

.thumbnailSelector1 a{
  width: 106px !important;
  float: left;
  margin-bottom: 16px;
}

body, html {height:100%}

#wrap {height:100%}

.studyContainer {
    margin-top: 2px;
    margin-left:0px;
    margin-right:0px;
    padding: 0px;
    position: relative;
}

.container {
}

.navbar-default {
  background-color: #060606;
  border-color: #000000;
}

.thumbnails {
    margin:0px;
    margin-bottom: 0px;
   /*  overflow-y:scroll; */
   /* overflow-x:hidden; */
}

.thumbnails .mCSB_scrollTools{
    width: 10px;
}

.thumbnails .mCSB_inside>.mCSB_container {
    margin-right: 10px;
}

.thumbnails .mCSB_scrollTools .mCSB_draggerContainer{
    background-color: #424242;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal{
  z-index: 10;  
}

.table {
  border-collapse: collapse;
  border-color: gray;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 4px;
    border: 1px solid #282828;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #202020;
}

.studyRow {
    margin-left: 0px;
    margin-rigth: 0px;
    height:100%;
}
.row {
    margin:0;
}

a.list-group-item {
    background-color: black;
    padding: 2px;
    border: 1px solid #424242;
    z-index: 5;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #424242;
    border-color: #4e4e4e;
}

.nav-tabs {
  border-bottom: 1px solid #424242;
}

.nav-tabs>li>a {
    background-color: #202020;
    border-color: #424242;
    color: #424242;
    padding: 3px 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #424242;
    border-color: #424242;
    color: #ffffff;
    padding: 3px 10px;
}

.dropdown-menu {
  min-width: 40px;
}

.progressBarContainer{  
   width:100%;
   border:1px solid #6C9C2C;
   height:3px;
 }

.progressBar{  
   background:#95CA0D;
   float:left;
   height:100%;
 } 

 #studyContainerWrapper{
  width: 80%;
 }

#pulmonaryWrapper{
  position: absolute;  
  right: 0; 
  top: 72px;
  width: 20%; 
  height: calc(100vh - 72px);
  overflow-y: auto;   
}

/*#pulmonaryWrapper .block{
  height: calc(4vh - 24px);
  width: 100%;
}*/

#pulmonaryWrapper .tub{
  display: none;
}

#pulmonaryWrapper #pulmonary{
  /* position: absolute; 
  right: 0; 
  top: 72px;  */
  width: 100%; 
  /* height: 328px;  */
  /*height: calc(42vh - 24px);  */  
  /* overflow-y: auto; */
  height: calc(40vh - 24px);

  border: 2px solid #2d5a87;
  border-radius: 4px;  
  background-color: #0a1522;
  box-sizing: border-box;
}

 /* #pulmonary img:last-child{
  margin-bottom: 0;
 } */
.pulmonaryInfo{
  /* position: absolute; */
  width: 100%;
  /* height: calc(100vh - 400px); */
  /*height: calc(54vh - 24px);*/
  /*height: calc(40vh - 24px);*/
  height: calc(100vh - 72px - 280px - 216px);
  padding: 10px;
  /*margin-top: 10px;*/
  /* padding-top: 20px; */
  font-size: 16px;
  box-sizing: border-box;
  /* top: 400px; */

  font-family: "Microsoft YaHei";
}

.pulmonaryInfo.formHide{
  /*height: calc(50vh - 48px);*/
  height: calc(100vh - 72px - 280px);
  /*margin-top: 8vh;*/
}

.pulmonaryInfo h4{
  color: #428ad3;
  font-size: 20px; 
  font-weight: normal; 
  font-family: "Microsoft YaHei";
}

.pulmonaryInfo .line{
  height: 1px;
  background-color: #2f5e8e;
}

.pulmonaryInfo > div{
  padding: 0 10px;
  border: 2px solid #2d5a87;
  border-radius: 4px;
  margin-top: 20px;
  background-color: #0a1522;
}

.pulmonaryInfo #saveBar{
  text-align: right;
  border: none;
  background-color: transparent;
} 

.pulmonaryInfo #saveBar #save{
  font-size: 18px;
}

.pulmonaryInfo > div:first-child{
  margin-top: 0;
}

/* .pulmonaryInfo > div:last-child{
  margin-bottom: 0;
} */

.pulmonaryInfo .radio{
  line-height: 45px;
}

.pulmonaryInfo label{
  font-size: 18px;
  color: #b6daff;
  padding-left: 10px;
}


.partOne .radio-inline,
.partTwo .radio-inline,
.partThree .radio-inline
{
  min-width: 110px;  
  width: calc(50% - 20px);
  margin-left: 0;
}

.partThree .radio-inline:last-child{
  width: 100%;
}

.radio label::before{
  top: 13px;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  border: none;
  background: url(../img/WEIXUANZHONG.png) center no-repeat ;
}

.radio label::after{
  width: 0;
}

.radio-success input[type="radio"] + label::before{
  background: url(../img/check1.png) center no-repeat ;
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}

#AIFixing{
  position: absolute;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  width: 20%;
  top: 50%;
  margin-top: -20px;
  right: 0;
  text-align: center; 
  display: none;
}

#loadingUI.waiting{
  /* display: none; */
}

.tbForm{
  /*box-sizing: border-box;*/
  /*height: 196px;*/
  padding: 10px;
}

.tbForm .form-inline {
  padding: 10px;
  border: 2px solid #2d5a87;
  border-radius: 4px;
  background-color: #0a1522;
}

.tbForm .form-inline .form-group{
  width: 80%;
}
.tbForm .form-inline .form-group span{
  margin-left:-20px;
}
.tbForm input{
  width: calc(100% - 50px) !important;
  margin: 10px 0; 
}
/*#tbConfirm {
  max-width: 20%;
}*/

#tbConfirm.disabled{
  cursor: not-allowed;
}