/* prevent 'bounce' in scrolling */
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow: auto;
    color: #888888;
    background-color: #060606;
}

.head {
    width: 100%;
    height: 30px;
    color: #ffffff;
    background-color: #888;
    line-height: 30px;
}

.hidden {
    display: none;
}

.modal-content {
    background-color: #202020;
}

.btn-default {
  color: #ffffff;
  background-color: #424242;
  border-color: #424242;
}

/* images are displayed in viewports */
.viewport {
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    position:absolute
}

.overlay {
    position: absolute;
    color: #e4ad00;
}

.imageViewer {
  /* width: 100% !important; */
}

.myNav {
    margin: 0;
    border:0;
}

.viewportWrapper {
    box-sizing: border-box;
    border: 2px solid #777;
}

.viewportWrapper.selected {
  border-color: #f00;
}

.renderTime {}
.fps {}

.csthumbnail {
    color: white;
    background-color:black;
    width:100px;
    height:100px;
    border: 0px;
    padding: 0px;
}

.viewer {
    /*position: absolute;left: 110px;width: 100%;*/
    /* float: left; */
    position: absolute;
    left: 106px;
    top: 0;
    box-sizing: border-box;
}

.viewer1 {
  left: 0;
  width: 100%;  
}

.viewer1 .imageViewer{
  width: 100% !important;
}

.thumbnailSelector {
    width: 106px;
    /* float:left; */
    position: absolute;
    left: 0;    
    margin-left:0px;
    height: 100%;
}

.thumbnailSelector1 {
  width: 100%;
  height: 139px;
  left: 0;
  bottom: 0;  
}

.thumbnailSelector1 a{
  width: 106px !important;
  float: left;
  margin-bottom: 16px;
}

body, html {height:100%}

#wrap {height:100%}

.studyContainer {
    margin-top: 2px;
    margin-left:0px;
    margin-right:0px;
    padding: 0px;
    position: relative;
}

.container {
}

.navbar-default {
  background-color: #060606;
  border-color: #000000;
}

.thumbnails {
    margin:0px;
    margin-bottom: 0px;
   /*  overflow-y:scroll; */
   /* overflow-x:hidden; */
}

.thumbnails .mCSB_scrollTools{
    width: 10px;
}

.thumbnails .mCSB_inside>.mCSB_container {
    margin-right: 10px;
}

.thumbnails .mCSB_scrollTools .mCSB_draggerContainer{
    background-color: #424242;
}

.mCSB_scrollTools.mCSB_scrollTools_horizontal{
  z-index: 10;  
}

.table {
  border-collapse: collapse;
  border-color: gray;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 4px;
    border: 1px solid #282828;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #202020;
}

.studyRow {
    margin-left: 0px;
    margin-rigth: 0px;
    height:100%;
}
.row {
    margin:0;
}

a.list-group-item {
    background-color: black;
    padding: 2px;
    border: 1px solid #424242;
    z-index: 5;
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #424242;
    border-color: #4e4e4e;
}

.nav-tabs {
  border-bottom: 1px solid #424242;
}

.nav-tabs>li>a {
    background-color: #202020;
    border-color: #424242;
    color: #424242;
    padding: 3px 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #424242;
    border-color: #424242;
    color: #ffffff;
    padding: 3px 10px;
}

.dropdown-menu {
  min-width: 40px;
}

.progressBarContainer{  
   width:100%;
   border:1px solid #6C9C2C;
   height:3px;
 }

.progressBar{  
   background:#95CA0D;
   float:left;
   height:100%;
 } 

 #studyContainerWrapper{
  width: 80%;
 }

#pulmonaryWrapper{
  position: absolute;  
  right: 0; 
  top:0;
  width: 20%; 
  height: 100vh;
  display:  none;
}

#pulmonaryWrapper #pulmonary{
  position: absolute; 
  right: 0; 
  top: 72px; 
  width: 100%; 
  height: 328px; 
  overflow-y: auto;
}

#pulmonary img{
  margin: 0 auto;
  /* margin-bottom: 20px; */
} 

 /* #pulmonary img:last-child{
  margin-bottom: 0;
 } */
.pulmonaryInfo{
  position: absolute;
  width: 100%;
  height: calc(100vh - 400px);
  overflow-y: auto;
  top: 400px;
}

.pulmonaryInfo h4{
  color: lightblue;
  text-indent: 20px;
}

.pulmonaryInfo > div{
  padding-left: 20px;
}

.pulmonaryInfo label{
  color: #fff;
}

.pulmonaryInfo input[type="radio"]{
  
  background: url(../img/nocheck.png);
}

.partOne .radio-inline,
.partTwo .radio-inline
{
  width: 100px;  
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
