<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="img/slogo.png" alt="九峰医疗" /> <span class="modal-title" id="myModalLabel">关于九峰DICOM阅片工作站</span>
            </div>
            <div class="modal-body">
                <br>
                This app is based on the Cornerstone open source project.  All 2D image rendering is done on the client side
                side using HTML5 and JavaScript.  DICOM P10 Instances are retrieved via WADO, parsed and displayed by the viewer -
                the server side performs no processing.
                <br>
                <br>
                <p>Product: JF Dicom Viewer</p>
                <p>Version: 2.0.0</p>
                <p>Build date: 2017-11-08</p>
                <p>Copyright: ©2017</p>
                <br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

