<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="img/slogo.png" alt="九峰医疗" /> <span class="modal-title" id="myModalLabel">关于二维影像处理</span>
            </div>
            <div class="modal-body">
                <br>
                <br>
                <p>产品名称：二维影像处理</p>
                <p>型号：JF-01-002.200</p>
                <p>软件完整版本：Version 2.2.0</p>
                <p>软件发布版本：Version 2</p>
                <p>生产日期：2018.01.05</p>
                <p>版权：Copyright © 2016-2020 JF Healthcare</p>
                <p>制造商名称：江西中科九峰智慧医疗科技有限公司</p>
                <br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

