<div>
	<dialog class="annotationDialog" oncontextmenu="return false">
		<h5>请编辑注解</h5>
		<div class="annotationTextInputOptions">
			<label for="annotationTextInput">编辑内容</label>
			<input name="annotationTextInput" class="annotationTextInput" type="text" />
		</div>
		<a class="annotationDialogConfirm btn btn-sm btn-primary">确定</a>
	</dialog>
	<dialog class="relabelDialog" oncontextmenu="return false">
		<h5>请编辑注解</h5>
		<div class="annotationTextInputOptions">
			<label for="annotationTextInput">编辑内容</label>
			<input name="annotationTextInput" class="annotationTextInput" type="text" />
		</div>
		<div>
			<a class="relabelRemove btn btn-sm btn-secondary">移除备注</a>
			<a class="relabelConfirm btn btn-sm btn-primary">OK</a>
		</div>
	</dialog>
</div>