<div id="studyViewerTemplate" style="height:100%">

    <div class="studyContainer" style="height:100%;overflow:hidden;">
        <div class="studyRow row" style="height:100%">
            
            <!-- Thumbnails -->
            <div class="thumbnailSelector">
                <div class="thumbnails list-group" style="height:100%">
                </div>
            </div>

            <!-- Viewer -->
            <div class="viewer" style="height:100%">
                <!-- Viewer -->
                <div class="imageViewer" style="height:100%">

                </div>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
