<div class="viewportWrapper" style="width:100%;height:100%;position:relative;color: white;float:left;background-color:black;"
     oncontextmenu="return false"
     class='cornerstone-enabled-image'
     unselectable='on'
     onselectstart='return false;'
     onmousedown='return false;'>
    <!-- Viewport -->
    <div class="viewport"></div>

    <!-- Overlays -->
    <div class="overlay" style="top:0px; left:0px">
        <div id="patientName"></div>
        <div id="patientage"></div>
        <div id="patientSex"></div>
    </div>

    <div class="overlay" style="top:0px; right:0px;" align="right">
        <div id="currentImageAndTotalImages"></div>
        <div id="seriesNum"></div>
        <div id="bodyPart"></div>
    </div>

    <div class="overlay" style="bottom:0px; left:0px">
        <div class="zoomFactor"></div>
        <div class="wwwc"></div>
        <div id="manufacturer"></div>
    </div>

    <div class="overlay" style="bottom:0px; right:0px" align="right">
        <div id="exposureParams"></div>
        <div id="acquistionDateTime"></div>
        <div id="institutionName"></div>
    </div>
</div>
